body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
}

.container {
    /* margin: 16rem; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 4em 4em;
    grid-template-areas: ". .";
  }

.item {
    justify-content: center;
    align-items: center;
}

.item img {
    width: 22.5rem;
    height: 40rem;
}